@import '~sass/variables';
@import '~sass/ratings';

h2 {
  font-family: $base-font-stack;
}

.loader {
  width: 100%;
  text-align: center;
}

#controls-form {
    h3 {
        color: red;
        span {
            color: grey;
        }
    }
}
