<div class="container">
  <form class="form">
    <fieldset class="form-fieldset ui-input __first">
      <input type="text" name="search"
             [(ngModel)]="search.keyword">
      <label for="query">
        <span data-text="Saan mo trip pumunta?">
          Saan mo trip pumunta?
        </span>
      </label>
    </fieldset>
    <div class="form-footer">
      <button type="button" class="btn"
             (click)="getBarsByKeyword(search.keyword)">
        Search
      </button>
    </div>
  </form>
</div>
